Slin.Facturacion/Tests/TestWebService/Service References/ServiceReferenceXml/ServicioInterfaceXml1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.slin.com.pe/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.slin.com.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.slin.com.pe/">
      <s:element name="GetObjInterfaceXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlLine" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInterfaceXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjInterfaceXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInterfaceXML_CE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlLine" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInterfaceXML_CEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjInterfaceXML_CEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInterfaceXML_CENOTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlLine" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInterfaceXML_CENOTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjInterfaceXML_CENOTEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDocumentVoided">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlLine" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDocumentVoidedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDocumentVoidedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetObjInterfaceXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjInterfaceXML" />
  </wsdl:message>
  <wsdl:message name="GetObjInterfaceXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjInterfaceXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjInterfaceXML_CESoapIn">
    <wsdl:part name="parameters" element="tns:GetObjInterfaceXML_CE" />
  </wsdl:message>
  <wsdl:message name="GetObjInterfaceXML_CESoapOut">
    <wsdl:part name="parameters" element="tns:GetObjInterfaceXML_CEResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjInterfaceXML_CENOTESoapIn">
    <wsdl:part name="parameters" element="tns:GetObjInterfaceXML_CENOTE" />
  </wsdl:message>
  <wsdl:message name="GetObjInterfaceXML_CENOTESoapOut">
    <wsdl:part name="parameters" element="tns:GetObjInterfaceXML_CENOTEResponse" />
  </wsdl:message>
  <wsdl:message name="SendDocumentVoidedSoapIn">
    <wsdl:part name="parameters" element="tns:SendDocumentVoided" />
  </wsdl:message>
  <wsdl:message name="SendDocumentVoidedSoapOut">
    <wsdl:part name="parameters" element="tns:SendDocumentVoidedResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioInterfaceXmlSoap">
    <wsdl:operation name="GetObjInterfaceXML">
      <wsdl:input message="tns:GetObjInterfaceXMLSoapIn" />
      <wsdl:output message="tns:GetObjInterfaceXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjInterfaceXML_CE">
      <wsdl:input message="tns:GetObjInterfaceXML_CESoapIn" />
      <wsdl:output message="tns:GetObjInterfaceXML_CESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjInterfaceXML_CENOTE">
      <wsdl:input message="tns:GetObjInterfaceXML_CENOTESoapIn" />
      <wsdl:output message="tns:GetObjInterfaceXML_CENOTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDocumentVoided">
      <wsdl:input message="tns:SendDocumentVoidedSoapIn" />
      <wsdl:output message="tns:SendDocumentVoidedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioInterfaceXmlSoap" type="tns:ServicioInterfaceXmlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjInterfaceXML">
      <soap:operation soapAction="http://www.slin.com.pe/GetObjInterfaceXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInterfaceXML_CE">
      <soap:operation soapAction="http://www.slin.com.pe/GetObjInterfaceXML_CE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInterfaceXML_CENOTE">
      <soap:operation soapAction="http://www.slin.com.pe/GetObjInterfaceXML_CENOTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDocumentVoided">
      <soap:operation soapAction="http://www.slin.com.pe/SendDocumentVoided" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioInterfaceXmlSoap12" type="tns:ServicioInterfaceXmlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjInterfaceXML">
      <soap12:operation soapAction="http://www.slin.com.pe/GetObjInterfaceXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInterfaceXML_CE">
      <soap12:operation soapAction="http://www.slin.com.pe/GetObjInterfaceXML_CE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInterfaceXML_CENOTE">
      <soap12:operation soapAction="http://www.slin.com.pe/GetObjInterfaceXML_CENOTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDocumentVoided">
      <soap12:operation soapAction="http://www.slin.com.pe/SendDocumentVoided" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioInterfaceXml">
    <wsdl:port name="ServicioInterfaceXmlSoap" binding="tns:ServicioInterfaceXmlSoap">
      <soap:address location="http://localhost:61056/ServicioInterfaceXml.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioInterfaceXmlSoap12" binding="tns:ServicioInterfaceXmlSoap12">
      <soap12:address location="http://localhost:61056/ServicioInterfaceXml.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>