Slin.Facturacion/Tests/Test_Console_https/Service References/wcf_mantenimiento/ServicioMantenimiento1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.slin.com.pe" elementFormDefault="qualified" targetNamespace="http://www.slin.com.pe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sexo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSexo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sexo" nillable="true" type="tns:Sexo" />
</xs:schema>