Slin.Facturacion/Tests/Test_Console_https/Service References/wcf_mantenimiento/ServicioMantenimiento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/serviceade/ServicioMantenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" />
  <xs:element name="GetListaSexo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaSexoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaSexoResult" nillable="true" type="q1:ListaSexo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEstado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaEstadoResult" nillable="true" type="q2:ListaEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaEmpresaResult" nillable="true" type="q3:ListaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaTipoDocumentoIdentidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaTipoDocumentoIdentidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaTipoDocumentoIdentidadResult" nillable="true" type="q4:ListaTipoDocumentoIdentidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPais">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaPaisResult" nillable="true" type="q5:ListaPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaDepartamentoResult" nillable="true" type="q6:ListaDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaProvinciaResult" nillable="true" type="q7:ListaProvincia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaDistrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProvincia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaDistritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaDistritoResult" nillable="true" type="q8:ListaDistrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oEmpleado" nillable="true" type="q9:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaEmpleadoResult" nillable="true" type="q10:ListaEmpleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListadoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oEmpresa" nillable="true" type="q11:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListadoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListadoEmpresaResult" nillable="true" type="q12:ListaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oEmpleado" nillable="true" type="q13:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oEmpleado" nillable="true" type="q14:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDniRuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dni_Ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDniRucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarDniRucResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmpresaRuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ruc_Empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmpresaRucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="ValidarEmpresaRucResult" nillable="true" type="q15:ListaEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oEmpresa" nillable="true" type="q16:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarEmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oEmpresa" nillable="true" type="q17:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetUbigeoResult" nillable="true" type="q18:Ubigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNroClienteExiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNroClienteExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="ValidarNroClienteExisteResult" nillable="true" type="q19:ListaCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oCliente" nillable="true" type="q20:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oCliente" nillable="true" type="q21:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="oCliente" nillable="true" type="q22:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListaClienteResult" nillable="true" type="q23:ListaCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_CtaBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="objbank" nillable="true" type="q24:Bank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_CtaBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_CtaBankResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CtaBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="objbank" nillable="true" type="q25:Bank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CtaBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CtaBankResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RucEntity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Slin.Facturacion.BusinessEntities" minOccurs="0" name="GetListBankResult" nillable="true" type="q26:ListBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>